@mixin mixin-title ($font-size){
  text-align: left;
  font-weight: bold;
  font-size: $font-size;
}
@mixin mixin-subtitle ($font-size) {
  // font-weight: bold;
  // text-align: center;
  font-size: $font-size;
}
@mixin mixin-dashed-text($font-size, $color) {
  position:relative;
  font-size: $font-size;
  display: inline-block;
  &:after {
    content: '';
    background-color: $color;
    height: 3px;
    position:absolute;
    top: calc(#{$font-size} / 1.2);
    left:0;
    right:0;
    z-index: -1;
  }
}

@mixin mixin-input {
  background-color: lightgray;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 2px;
}

@mixin mixin-button {
  background-color: blue;
  border: none;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 3px;
  cursor: pointer;
}

@mixin mixin-outline-button ($color, $border-color, $background-color) {
  background-color: $background-color;
  border: 3px solid $border-color;
  border-radius: 1rem;
  color: $color;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

@mixin mixin-close-button {
  color: white;
  border-radius: 50%;
  border: 3px solid white;
  width: 2rem;
  height:2rem;
  &:after {
    content:'X';
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
  }
}