<template>
  <div class="detalhes">
    <Header />
    <div class="detalhes-container">
      <div class="back" @click="handleBack()">VOLTAR</div>  
      <div class="title">{{$store.getters.getChosenItem.titulo}}</div>
      <div class="detalhes-item detalhes-grid">
        <div class="images image-grid">
          <div class="image big-image"><img src="http://placehold.it/250x300" alt="" srcset=""></div>
          <div class="image "><img src="http://placehold.it/64x64" alt="" srcset=""></div>
          <div class="image"><img src="http://placehold.it/64x64" alt="" srcset=""></div>
          <div class="image"><img src="http://placehold.it/64x64" alt="" srcset=""></div>
          <div class="image"><img src="http://placehold.it/64x64" alt="" srcset=""></div>
          <div class="image"><img src="http://placehold.it/64x64" alt="" srcset=""></div>
        </div>
        <div class="ficha ficha-grid">
          <div class="name">Item 1</div>
          <div class="oldprice">159,99</div>
          <div class="newprice">49,99</div>
          <div class="cor">Azul</div>
          <div class="tamanho">38</div>
          <div class="descricao">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ipsum necessitatibus voluptate exercitationem amet expedita ex sit quis voluptatibus officia excepturi qui iure placeat magni, quibusdam voluptates ea repellat repudiandae?</div>
        </div>
        <div class="retirada">
          <div class="title">Local de retirada</div>
          <div class="field">
            <div class="item">Loja:</div>
            <div class="value">Loja 1</div>
          </div>
          <div class="field">
            <div class="item">Shopping:</div>
            <div class="value">Shopping Estação</div>
          </div>
          <div class="field">
            <div class="item">Endereco:</div>
            <div class="value">Rua ABC, 234, D E F G...</div>
          </div>
          <div class="field">
            <div class="item">Lojista:</div>
            <div class="value">João da Silva</div>
          </div>
          <div class="field">
            <div class="item">Telefone:</div>
            <div class="value">(41) 12345-6789</div>
          </div>
        </div>
      <div class="cart-container">
        <Cart />
      </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>


import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import Cart from '@/components/Cart.vue'

export default {
  async asyncData ({store, route}) {
    if (!store.getters.getChosenItem || !store.getters.getChosenItem.titulo) {
      let item = await store.dispatch('fetchItemFromServer', {id: route.params.item_id, seller_code: route.params.seller_code})
      if (!item) return //TODO: Retorna erro
    }

  },
  mounted () {

  },
  methods: {
    handleBack () {
      this.$router.go(-1)
    }
  },
  components: {
    Header, Footer, Cart
  }
}

</script>

<style lang="scss" scoped>

@import '@/assets/scss/main.scss';

.detalhes-container {
  padding-top: 6rem;
  .title {
    text-align: center;
    font-size:1.75rem;
    padding: 2rem 0;
  }
}

.detalhes-grid {
  display: grid;
  grid-gap: 1rem;

  @media(min-width: 601px) {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
      "images     ficha     cart"
      "retirada   retirada  cart" ;
  }

  @media(max-width: 600px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      "images"   
      "ficha"
      "retirada";
      
  }

  .images {
    grid-area: images;
  }
  .ficha {
    grid-area: ficha;
  }
  .retirada {
    grid-area: retirada;
  }
  .cart-container {
    grid-area: cart;
  }
}

.image-grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
  grid-gap: 0.5rem;
  .image {
    grid-column: span 1;
    grid-row: span 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .big-image {
    grid-column: span 3;
    grid-row: span 3 / -1;
    
  }

}

.ficha-grid {
  display: grid;

  //@media...

  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-gap: 1rem;

  grid-template-areas: 
    "name"
    "oldprice"
    "newprice"
    "cor"
    "tamanho"
    "descricao";

  .name {
    grid-area: name;
  }
  .oldprice {
    grid-area: oldprice;
  }
  .newprice {
    grid-area: newprice;
  }
  .cor {
    grid-area: cor;
  }
  .tamanho {
    grid-area: tamanho;
  }
  .descricao {
    grid-area: descricao;
  }

}

.retirada {
  padding: 0 4rem;
  .title {
    text-align: left;
    padding: 2rem 0 2rem 4rem;
  }
  .field {
    display: flex;
    flex-flow: row wrap;
    padding: 0.25rem 0;
    .item {
      flex:1;
      font-weight: bold;
      padding-right: 1rem;
      text-align: right;
      min-width: 6rem;
    }
    .value {
      flex: 10;
    }
  }
}




</style>

