<template>
  <div class="cadastro">
    <Header />
    <div class="cadastro-container">
      <div class="title">Cadastre-se</div>
      <div class="social-cadastro-container">
        <div class="social">
          <button>Cadastre pelo Facebook</button>
          <button>Cadastre pelo Google</button>
        </div>
      </div>
      <div class="separator-text">
        ou
      </div>
      <div class="cadastro-form-container">
        <form>
          <div class="form-field">
            <input type="text" placeholder="Nome*">
          </div>
          <div class="form-field">
            <input type="password" placeholder="Telefone">
          </div>
          <div class="form-field">
            <input type="text" placeholder="Email*">
          </div>
          <div class="form-field">
            <input type="text" placeholder="Data de nascimento">
          </div>
          <div class="form-field">
            <input type="text" placeholder="Senha*">
          </div>
          <div class="form-field">
            <input type="text" placeholder="Confirme sua senha*">
          </div>
          <div class="button-container">
            <button class="btn-cadastro">Cadastrar</button>
          </div>
        </form>
      </div>
      <div class="action-container">
        <div class="action">
          <nuxt-link to="/login">
            Voltar ao login
          </nuxt-link>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'

export default {
  head () {
    return {
      title: 'Cadastro - instok'
    }
  },

  components: {
    Header, Footer
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/main.scss';

.cadastro-container {
  text-align: center;  
  padding-top: 6rem;
  .title {
    font-size: 1.75rem;
    padding-bottom: 2rem;
  }

}

.social-cadastro-container {
  display: flex;
  padding: 0rem 0 0rem 0 ;
  @media(min-width:601px) {
    flex-flow: row wrap;
    margin: 0 20% 0 20%;
  }
  @media(max-width:600px) {
    flex-flow: column wrap;
  }
  .social {
    flex:1;
    button {
      @include mixin-button;
      margin: 0.5rem;
      width: 13rem;
    }
  }
}
.separator-text {
  padding: 1rem;
}
.cadastro-form-container {
  input {
    @include mixin-input;
    margin: 1rem;
  }
  button {
    @include mixin-button;
  }
}

.action-container {
  padding: 1rem;
}



</style>

