<template>
  <div class="carrinho">
    <Header />
    <div class="carrinho-container">
      <Cart />
    </div>
    <Footer/>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import Cart from '@/components/Cart.vue'

export default {
  head () {
    return {
      title: 'Carrinho - instok'
    }
  },

  data () {
    return {
      email: '',
      pwd: ''
    }
  },
  methods: {

  },
  components: {
    Header, Footer, Cart
  }
}
</script>

<style lang="scss" scoped>

@import '@/assets/scss/main.scss';


.carrinho-container {
  @media(max-width:800px) {
    padding: 2rem 2rem 0 2rem;
  }
  @media(min-width:801px) {
    padding: 6rem 4rem 5rem 4rem;
  }
  text-align: center;
  .title {
    font-size: 1.75rem;
    padding-bottom: 2rem;
  }
}


</style>

