<template>
  <div class="contato">
    <Header />
    <div class="contato-container">
      <div class="grid-title">
        <div class="title">
          Quer falar conosco?
        </div>  
        <div class="subtitle">
          Não se acanhe.
        </div>
      </div>
      <div class="grid-image-container">
        <img src="/img/etelefone.png" alt="" srcset="">  
      </div>
      <div class="grid-dashed-text">
        <div class="text">
          Sugestões, reclamações ou elogios.
        </div>
      </div>
      <div class="grid-invista-se">
        <div class="text">
          inVista-se
        </div>
      </div>
      <div class="grid-items">
        <div class="item">
          <div class="title">Estamos sempre prontos para te ouvir.</div>
          <div class="description">
            O mais importante para nós sempre será você, quem utiliza nossa plataforma.
            Dessa maneira, estamos dispostos a ouvir sugestões, reclamações ou elogios, 
            tudo para que possamos melhorar e crescer juntos.
          </div>
        </div>
      </div>
      <div class="grid-social">
        <div class="social">EMAIL</div>
        <div class="social">INSTA</div>
        <div class="social">FACE</div>
        <div class="social">TWIT</div>
        <div class="social">WZAP</div>
      </div>
      <div class="grid-footer">
        <!-- <div class="text">
          Se concorda com a nossa causa, fale para um amigo!
        </div> -->
        <Footer />
      </div>
    </div>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'

export default {
  head () {
    return {
      title: 'Contato - instok'
    }
  },

  components: {
    Header, Footer
  }
}
</script>

<style lang="scss" scoped>

@import '@/assets/scss/main.scss';


.contato-container {
  @media(max-width:800px) {
    padding: 2rem 2rem 0 2rem;
  }
  @media(min-width:801px) {
    padding: 6rem 4rem 0 4rem;
  }

  display: grid;
  grid-column-gap: $grid-column-gap;
  .grid-title {
    grid-area: title;
    font-size: 2rem;
    .title {
      @include mixin-title(2.25rem);
      text-align: left;      
      padding: 0 0 1rem 0;

    }
    .subtitle {
      @include mixin-subtitle(1.75rem);      
      padding: 0 0 1rem 0;

    }
  }

  .grid-image-container {
    grid-area: image-container;    
    text-align: center;
    padding-left: 2rem;
    img {
      width: 100%;
      max-width: 400px;
      height: 250px;
    }
  }

  .grid-dashed-text {
    padding: 1.5rem 0;
    grid-area: dashed-text;
    text-align: center;
    padding-left: 2rem;
    .text {
      @include mixin-dashed-text(1rem, yellow);
    }
  }
  .grid-invista-se {
    grid-area: invista-se;
    text-align: center;
    padding: 3rem 0;

  }
  .grid-social {
    grid-area: social;
    display: flex;
    flex: row wrap;
    padding-right: 2rem;
    .social {
      flex: 1;
      text-align: center;
    }
  }
  
  .grid-items {
    grid-area: items;
    display: flex;
    flex-flow: column wrap;
    .item {
      flex:1;      
      padding: 0 2rem 2rem 0;
      .title {
        font-weight: bold;
        padding: 0.5rem 0;
        @include mixin-subtitle(1.25rem);
        &:before {
          content: 'BOX'; 
          padding-right: 0.5rem;
        }
      }
      .description {
        text-align: justify;
      }

    }
  }

  .grid-footer {
    grid-area: footer;
  }

  @media(max-width:800px) {
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    grid-template-areas: 
      "title"
      "image-container"
      "dashed-text"
      "invista-se"
      "items"
      "social"
      "footer";
  }

  @media(min-width:801px) {
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "title           items"
      "image-container social"
      "dashed-text     social"
      "invista-se      social"
      "footer          footer";
  }


}


</style>

