<template>
  <div class="landing">
    <Header />
    <div class="clip-shape"></div>
    <div class="landing-container">
      <section class="section-1">
        <div class="title">Chega de gastar em vitrine.</div>
        <div class="description">
          Conectamos você com produtos fora de estação e coleções passadas guardadas em estoque,
          reativando seu poder de compra enquanto diminui o impacto ambiental do descarte têxtil.
        </div>
        <div class="button">
          <div class="button-container">
            <button>Quero testar</button>          
          </div> 
        </div>
        <div class="launch">
          <div>Lançamento:</div>
          <div>xxx.xx.xx</div>
        </div>
        <div class="boxes">
          <div class="text">
            Compre mais.
            <br> Pague menos.
            <br>Sem desperdícios
            <br>Símples assim.
          </div>
          <div class="dashes"></div>
          <img src="http://placehold.it/350x250" alt="" srcset="">
        </div>
        <div class="clothes">
          <img src="http://placehold.it/350x250" alt="" srcset="">
        </div>
      </section>

      <section class="section-2">
        <div class="header">
          <div class="title">
            Produtos em estoque:
          </div>
          <div class="subtitle">
            Só uma prévia do que temos esperando por você.
          </div>
        </div>
        <div class="galeria-container">
          <div class="galeria-items-container">
            <gallery-item v-for="(item, index) in $store.getters.getFilteredItems" 
              :key="index"
              :item="item"
            />
          </div>
        </div>
      </section>
      <section class="section-3">
        <SimpleFilterWidget />
      </section>

    </div>
    <Footer />
  </div>
</template>

<script>
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import GalleryItem from '@/components/GalleryItem.vue'
import SimpleFilterWidget from '@/components/SimpleFilterWidget.vue'

export default {
  head () {
    return {
      title: 'Home - instok'
    }
  },
  mounted () {
    let items = this.$store.getters.getItems.slice(0,15)
    let randomIndex = Math.round(Math.random()*(items.length-1))
    items[randomIndex].overlayVisible = true;

    let cartItems = this.$store.getters.getCartItems
    cartItems.forEach((cartItem) => {
      let found = items.find((el) => {
        return el.titulo === cartItem.titulo
      })
      if(found) {
        found.oncart = true
      }
    })

    // Coloca todos os itens visiveis da galeria na visualização inicial em /galeria
    this.$store.commit('addItemsToFilter', items)

    // Reseta a galeria para o print inicial em /galeria
    this.$store.commit('changeGalleryItemCountPage',1)

    // Remove todos os filtros (reseta o estado inicial)
    this.$store.commit('removeAllFilterTags')


  },
  methods: {
    refreshGalleryItems () {
      this.$children.forEach(child => {
        child.$forceUpdate()
      })
    }
  },
  beforeDestroy() {
    this.$store.commit('removeItemsOverlays')
  },
  components: {
    Header, Footer, GalleryItem, SimpleFilterWidget
  }
}
</script>

<style lang="scss" scoped>

@import '@/assets/scss/main.scss';

.clip-shape {
  position: absolute;
  left:0;
  top: -80px;
  background-color: black;
  z-index: -100;
  display: none;
  min-height: 600px;
  @media(min-width:801px) {
    width: 50vw;
    height: 50vh;
    display: block;
    clip-path: polygon(0% 0%, 0 100%, 100% 0)
  }
}

.landing-container {
  @media(max-width:800px) {
    padding: 4rem 2rem 0 2rem;
  }
  @media(min-width:801px) {
    padding: 6rem 4rem 0 4rem;
  }

  position: relative;
}

.section-1 {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
  grid-template-columns: 3fr 4fr 2fr ;
  grid-gap: 1rem;
  grid-template-areas: 
    ". title title"
    "boxes description description"
    "boxes button ."
    "boxes launch ."
    "boxes . clothes";

  .title {
    padding-top: 3rem;
    grid-area: title;
    font-size: 3rem;
    text-align: left;
    font-weight: bold;
  }
  .description {
    grid-area: description;
    // text-align: justify;
    // padding-right: 8rem;
  }
  .button {
    grid-area: button;
    text-align: center;
    position:relative;
    .button-container {
      position:absolute;
      bottom: 0;
      left: 0;
      right: 0;
      button {
        @include mixin-button;

      }
    }
  }
  .launch {
    text-align: center;
    grid-area: launch;
  }
  .boxes {
    // grid-area: boxes;
    position:absolute;
    bottom:8rem;
    left:0;
    width:50%;

    .text {
      padding-left: 1rem;
      color: white;
    }
    .dashes {
      margin: 0.5rem 0 0.5rem 1rem;
      height: 8rem;
      border-left: 5px dotted white;
    } 
    img {
      height: 250px;
    }
  }
  .clothes {
    // grid-area: clothes;
    position:absolute;
    bottom:6rem;
    right:0;
    width:50%;
    text-align: right;

    img {
      height: 250px;
    }
  }

  .text-container {
    padding: 2rem 0 0 50%;
    .title {
      font-size: 2.5rem;
      font-weight: bold;
      padding: 1rem;
    }
    .description {
      padding: 1rem;
      font-family: 'Roboto'; //TEMP adicionado em nuxt.config.js
    }
  }
}
.section-2 {
  padding: 5rem 0 5rem 0;
  .header {
    padding: 2rem 1rem;
    .title {
      font-size: 3rem;
      text-align: left;
      font-weight: bold;
    }
    .subtitle {
      padding: 1rem 0;
    }
  }
  .galeria-container {
    @media(max-width:800px) {
      padding: 2rem 2rem 0 2rem;
    }
    @media(min-width:801px) {
      // padding: 2rem 4rem 0 4rem;
    }
    margin: auto;
    max-width: 1600px;
  }

  .galeria-items-container {
    max-height: calc(600px + 2rem);
    width: calc(100%-2rem);
    margin: 0 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    grid-auto-flow: dense;
    // grid-auto-flow: row;
    overflow-y: hidden;
    overflow-x: hidden;
    grid-auto-rows: 300px;

    @media (max-width: 600px) {
      grid-auto-rows: 40vh;
    }
  }

  .item {
    background-color: gray;
    min-width: 170px;
  }

}
.section-3 {
  // min-height: 100vh;
  padding-bottom: 5rem;
}
</style>