<template>
  <div class="login">
    <Header />
    <div class="login-container">
      <div class="title">Login</div>
      <div class="social-login-container">
        <div class="social">
          <button>Login com o Facebook</button>
          <button>Login com Google</button>
        </div>
        <!-- <div class="social">
        </div> -->
      </div>
      <div class="separator-text">
        ou
      </div>
      <div class="login-form-container">
        <form action="">
          <div class="form-field">
            <input type="text" placeholder="Email" v-model="email">
          </div>
          <div class="form-field">
            <input type="password" placeholder="Senha" v-model="pwd">
          </div>
          <div class="button-container">
            <button class="btn-login" @click.prevent="handleLogin(email,pwd)">Entrar</button>
          </div>
        </form>
      </div>
      <div class="action-container">
        <div class="action">
          <nuxt-link to="/cadastro">
            Cadastre-se
          </nuxt-link>
          <nuxt-link to='/'>
            Esqueci minha senha
          </nuxt-link>
        </div>
      </div>
    </div>
    <Footer/>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'

export default {
  head () {
    return {
      title: 'Login - instok'
    }
  },

  data () {
    return {
      email: '',
      pwd: ''
    }
  },
  methods: {
    async handleLogin (email, pwd) {

      await this.$store.dispatch('login', {email:email, pwd:pwd})

      if (this.$store.getters.getUser.type === 'lojista') {
        this.$router.push('dashboard')
      } else {
        this.$router.push('/')
      }
      //TODO: Criar o sistema de login com JWT, salvar o state, o token e a data de expiração na store.   

    }
  },
  components: {
    Header, Footer
  }
}
</script>

<style lang="scss" scoped>

@import '@/assets/scss/main.scss';


.login-container {
  @media(max-width:800px) {
    padding: 2rem 2rem 0 2rem;
  }
  @media(min-width:801px) {
    padding: 6rem 4rem 5rem 4rem;
  }
  text-align: center;
  .title {
    font-size: 1.75rem;
    padding-bottom: 2rem;
  }
}
.social-login-container {
  display: flex;
  padding: 0rem 0 0rem 0 ;
  @media(min-width:601px) {
    flex-flow: row wrap;
    margin: 0 20% 0 20%;
  }
  @media(max-width:600px) {
    flex-flow: column wrap;
  }
  .social {
    flex:1;
    button {
      @include mixin-button;
      margin: 0.5rem;
      width: 13rem;
    }
  }
}
.separator-text {
  padding: 1rem;
}
.login-form-container {
  input {
    @include mixin-input;
    margin: 1rem;
  }
  button {
    @include mixin-button;

  }
}
.action-container {
  display: flex;
  text-align: center;
  @media(min-width:601px) {
    flex-flow: row wrap;
    margin: 0 20% 0 20%;
  }
  @media(max-width:600px) {
    flex-flow: column wrap;
  }
  .action {
    flex:1;
    padding-top: 1rem;
    a {
      padding: 0 0.25rem;
    }
  }

}

</style>

