<template>
  <div class="parceiros">
    <Header />
    <div class="parceiros-container">
      <div class="grid-title">
        <div class="title">
          Tem estoque?
        </div>  
        <div class="subtitle">
          Não mais.
        </div>
      </div>
      <div class="grid-image-container">
        <img src="/img/boxes.png" alt="" srcset="">  
      </div>
      <div class="grid-dashed-text">
        <div class="text">
          Reativamos valor com conveniência
        </div>
      </div>
      <div class="grid-invista-se">
        <div class="text">
          inVista-se
        </div>
      </div>
      <div class="grid-subscribe">
        <div class="text">
          <p>
            Estamos em processo de selecão!
          </p> 
          <p>
            Se inscreva e seja nosso parceiro.
          </p>
        </div>
        <div class="form-container">
          <div class="email item">
            <input type="text" placeholder="Email">
          </div>
          <div class="button-container item">
            <button class="inscrever">
              Inscreva-se agora!
            </button>

          </div>
        </div>
      </div>
      <div class="grid-items">
        <div class="item">
          <div class="title">Porque ser um parceiro?</div>
          <div class="description">
            Sabemos que estoque parado é dinheiro parado, e em cada troca de coleção,
            algumas peças ficam para trás, tomando cada vez mais espaço e perdendo seu valor.
            Nós damos a esposição e atenção necessária para reativar valor ao seu estoque: 
            uma nova oportunidade de venda.
            Seja um parceiro e reative seu estoque, porque roupa parada não cai bem.
          </div>
        </div>
        <div class="item">
          <div class="title">Como funciona?</div>
          <div class="description">
            É muito simples.
            <ul>
              <li>Selecione as peças em seu estoque que gostaria de vender;</li>
              <li>Tenha em mãos a descrição das peças (tamanho, cor, etc);</li>
              <li>Entre em contato conosco e nós mesmos vamos até você para tirar fotos e documentar as peças;</li>
              <li>Notificamos você na venda da peça, ou você pode conferir o status na aba "Meu Estoque".</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="title">Preço?</div>
          <div class="description">
            Não cobramos mensalidade nem taxa de cadastro, apenas a comissão de 10%
            <strong>na venda da peça</strong>, para garantir que você, nosso cliente, defato reative valor 
            sem perder nada de antemão.
            O desconto mínimo para o cadastro do produto é de 50% do valor da etiqueta. 
            Ex. Camiseta da coleção 2016, preço da etiqueta é de R$ 180,00 - Poderá ser vendida por R$ 90,00
          </div>
        </div>
        <div class="item">
          <div class="title">Condições:</div>
          <div class="description">
            Para garantir a qualidade dos produtos e serviços prestados, trabalhamos apenas 
            com <strong>peças em estoque ainda etiquetadas e sem danos.</strong>
          </div>
        </div>

      </div>
      <div class="grid-footer">
        <!-- <div class="text">
          Se concorda com a nossa causa, fale para um amigo!
        </div> -->
        <Footer />
      </div>
    </div>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'

export default {
  head () {
    return {
      title: 'Parceiros - instok'
    }
  },

  components: {
    Header, Footer
  }
}
</script>

<style lang="scss" scoped>

@import '@/assets/scss/main.scss';


.parceiros-container {
  @media(max-width:600px) {
    padding: 2rem 0.25rem 0 0.25rem;
  }
  @media(max-width:800px) {
    padding: 2rem 1rem 0 1rem;
  }
  @media(min-width:801px) {
    padding: 6rem 3rem 0 3rem;
  }

  display: grid;
  grid-column-gap: $grid-column-gap;

  .grid-title {
    grid-area: title;
    font-size: 2rem;
    .title {
      @include mixin-title(2.25rem);
      text-align: left;
      padding: 0 0 1rem 0;
    }
    .subtitle {
      @include mixin-subtitle(1.75rem);
      padding: 0 0 1rem 0;
    }

  }

  .grid-image-container {
    grid-area: image-container;
    text-align: center;
    img {
      max-width: 600px;
      width: 100%;
      height: 250px;
    }
  }

  .grid-dashed-text {
    grid-area: dashed-text;
    padding: 1.5rem 1rem;
    .text {
      @include mixin-dashed-text(1rem, yellow);
    }
  }
  .grid-invista-se {
    grid-area: invista-se;
    text-align: center;
    padding: 3rem 2rem;
  }
  
  .grid-subscribe {
    grid-area: subscribe;
    color: blue;
    font-weight: bold;
    padding: 0 1rem;
    .form-container {
      padding-top: 1rem;
      display: flex;
      flex-flow: row wrap;
      text-align: center;
      .item {
        flex: 1;
      }
    }
    @media(max-width:600px) {
      // padding-bottom: 2rem;
    }

    input {
      @include mixin-input;
      min-width: 170px;
    }
    button {
      @include mixin-button;
      min-width: 170px;
      @media(min-width:601px) {
        width: 100%;
        margin: 0 1rem 0 1rem; 
      }
      @media(max-width:600px) {
        width: 100%;
        // margin: 0 1rem 0 1rem; 
      }
    }
  }

  .grid-items {
    grid-area: items;
    display: flex;
    flex-flow: column wrap;
    padding: 0 2rem;

    .item {
      flex:1;
      padding: 0 0 2rem 0;
      .title {
        font-weight: bold;
        padding: 0.5rem 0;
        @include mixin-subtitle(1.25rem);
        &:before {
          content: 'BOX'; 
          padding-right: 0.5rem;
        }
      }
      .description {
        text-align: justify;
      }
    }
  }

  .grid-footer {
    padding-top: 4rem;
    grid-area: footer;
  }

  @media(max-width:800px) {
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    grid-template-areas: 
      "title"
      "image-container"
      "dashed-text"
      "invista-se"
      "subscribe"
      "items"
      "footer";
  }

  @media(min-width:801px) {
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "title           items"
      "image-container items"
      "dashed-text     items"
      "invista-se      items"
      "subscribe       items"
      "footer          footer";
  }


}


</style>

