<template>
  <div class="sobre">
    <Header />
    <div class="sobre-container">
      <div class="grid-title">
        Qual o preço da moda?
      </div>
      <div class="grid-image-container">
        <img src="/img/headlines.png" alt="" srcset="">  
      </div>
      <div class="grid-subtitle">
        <div class="title">Comprar da vitrine já saiu de moda.</div>
        <div class="subtitle">
          <div class="text">
            Roupa em estoque não veste ninguém.

          </div>
        </div>
      </div>
      <div class="grid-social-buttons">
        <div class="text">
          inVista-se
        </div>
        <div class="social-buttons">
          <div class="social">Inst</div>
          <div class="social">Face</div>
          <div class="social">Twit</div>
        </div>
      </div>
      <div class="grid-items">
        <div class="item">
          <div class="title">Quem somos?</div>
          <div class="description">
            Sou uma jovem startup e proponho uma maneira de comprar roupas.
            Acreditamos que no cenário brasileiro, onde pessoas não conseguem comprar
            roupas de qualidade devido aos altos impostos, deva existir uma melhor e
            sustentável opção - onde roupas em estoque encontram pessoas.
          </div>
        </div>
        <div class="item">
          <div class="title">O que fazemos?</div>
          <div class="description">
            Nós conectamos você com o estoque off-season (coleções passadas) das
            lojas de roupa. Apresentando a você uma roupa em excelente estado, nunca
            sequer usada e ainda na etiqueta, com preço que veste seu bolso.
          </div>
        </div>
        <div class="item">
          <div class="title">Por que fazemos?</div>
          <div class="description">
            As roupas de coleção passada, acumuladas em estoque, são um problema
            muito comum ao varejo de vestuário, responsável pela maioria dos casos
            de falência e problemas logísticos da pequena empresa. Propomos uma solução que reative
            o potencial congelado do lojista, enquanto garante a você qualidade e preço atrativo.
          </div>
        </div>
        <div class="item">
          <div class="title">Nossa missão:</div>
          <div class="description">
            Reativar o poder de compra do consumidor brasileiro, enquanto abre uma 
            nova oportunidade ao comerciante - promovendo o consumo consciente e 
            diminuindo o impacto ambiental provocado pela indústria têxtil.
          </div>
        </div>

      </div>
      <div class="grid-footer">
        <div class="text">
          Se concorda com a nossa causa, fale para um amigo!
        </div>
        <Footer />
      </div>
    </div>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'

export default {
  head () {
    return {
      title: 'Sobre - instok'
    }
  },

  components: {
    Header, Footer
  }
}
</script>

<style lang="scss" scoped>

@import '@/assets/scss/main.scss';

.sobre-container {
  @media(max-width:800px) {
    padding: 2rem 2rem 0 2rem;
  }
  @media(min-width:801px) {
    padding: 6rem 4rem 0 4rem;
  }
  display: grid;
  grid-column-gap: $grid-column-gap;
  .grid-title {
    grid-area: title;
    font-size: 2rem;
    @include mixin-title(2.25rem);
  }

  .grid-image-container {
    grid-area: image-container;
    text-align: center;
    img {
      max-width: 400px;
      width: 100%;
      height: 250px;
    }
  }

  .grid-subtitle {
    grid-area: subtitle;
    .title {
      padding: 1rem 0 0.25rem 0;
      text-align: left;
      @include mixin-subtitle(1.75rem);
    }
    .subtitle {
      padding: 0.5rem;
      text-align: left;
      .text {
        @include mixin-dashed-text(1rem, yellow);
      }
    }
  }

  .grid-social-buttons {
    grid-area: social-buttons;
    .text {
      text-align: center;
      padding: 3rem 0 2rem 0 ;
    }
    .social-buttons {
      display: flex;
      flex-flow: row wrap;
      margin: 0 30%;
      .social {
        flex:1;
        text-align: center;
      }
    }
  }

  .grid-items {
    grid-area: items;
    display: flex;
    flex-flow: column wrap;
    padding: 0 2rem;
    .item {
      flex:1;
      padding: 0 0 2rem 0;
      .title {
        font-weight: bold;
        padding: 0.5rem 0;
        @include mixin-subtitle(1.25rem);
        &:before {
          content: 'BOX'; 
          padding-right: 0.5rem;
        }
      }
      .description {
        text-align: justify;

      }
    }
  }

  .grid-footer {
    grid-area: footer;
    .text {
      text-align: center;
      padding-top: 4rem;
    }
  }

  @media(max-width:800px) {
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    grid-template-areas: 
      "title"
      "image-container"
      "subtitle"
      "items"
      "social-buttons"
      "footer";
  }

  @media(min-width:801px) {
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "title           items"
      "image-container items"
      "subtitle        items"
      "social-buttons  items"
      "footer          footer";
  }


}


</style>

