<template>
  <div class="perfil">
    <Header />
    
    
    <Footer />
  </div>
</template>

<script>


import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'

export default {
  head () {
    return {
      title: 'Perfil - instok'
    }
  },

  components: {
    Header, Footer
  }
}

</script>

<style lang="scss" scoped>

@import '@/assets/scss/main.scss';

.perfil {
  .text-container {
    padding: 4rem 2rem 0 50%;
    .title {
      font-size: 2.5rem;
      font-weight: bold;
      padding: 1rem;
    }
    .description {
      padding: 1rem;
      font-family: 'Roboto'; //TEMP adicionado em nuxt.config.js
    }
  }
}


</style>

