<template>
  <div class="galeria">
    <Header />
    <div class="galeria-container">
      <div class="filtro-fixed">
        <Filtro />
      </div>
      <div class="gallery-header">
        <div class="titulo">Minha galeria:</div>
        <div class="tags">
          <div class="tag" v-for="(tag, tag_index) in $store.getters.getFilterTags" :key="tag_index">
            <div class="text">{{tag}}</div>
            <button @click="$store.dispatch('removeAndCalculateFilterTag', tag)">X</button>
          </div>
        </div>
      </div>
      <div class="galeria-items-container">
        <gallery-item v-for="(item, index) in $store.getters.getFilteredItems.slice(0,pageItemSize*$store.getters.getGalleryPageItemCount)" 
          :key="index"
          :item="item"
        />
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>


import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import GalleryItem from '@/components/GalleryItem.vue'
import Filtro from '@/components/Filtro.vue'

export default {
  head () {
    return {
      title: 'Galeria - instok'
    }
  },

  data () {
    return {
      pageItemSize: 5,
      pageItemCount: 1,
      galleryElement: {}
    }
  },
  mounted () {
    let items = this.$store.getters.getItems
    let cartItems = this.$store.getters.getCartItems

    cartItems.forEach((cartItem) => {
      let found = items.find((el) => {
        return el.titulo === cartItem.titulo
      })
      if(found) {
        found.oncart = true
      }
    })

    // Carrega os itens na galeria aplicando as tags
    this.$store.commit('applyFilterTags')

    // Cria o evento para scroll
    window.addEventListener('scroll', this.handleScroll)

    this.galleryElement = document.querySelector('.galeria-items-container')
    
    // setTimeout(() => {
      // this.pageItemCount+=1
      // window.animateCssGrid_wrapGrid(grid)
    // }, 10000)
  },
  methods: {
    refreshGalleryItems () {
      this.$children.forEach(child => {
        child.$forceUpdate()
      })
    },
    handleScroll () {
      let dimensions = this.galleryElement.getBoundingClientRect()
      if (dimensions.top + dimensions.height  < 700) {
        this.fetchGalleryItemsFromServer(this.$store.getters.getGalleryPageItemCount+1)
        this.$store.commit('changeGalleryItemCountPage', this.$store.getters.getGalleryPageItemCount+1)
      } 
    },    
    fetchGalleryItemsFromServer (page) {
      //TODO: Incluir somente itens com os filtros, refresh na pagina caso os filtros mudem.
      this.pageItemCount+=1
    }
  },
  beforeDestroy () {
    window.removeEventListener('scroll', this.handleScroll)

  },
  components: {
    Header, Footer, GalleryItem, Filtro
  }
}

</script>

<style lang="scss" scoped>

@import '@/assets/scss/main.scss';

.gallery-header {
  padding-bottom: 2rem;
  .titulo {
    font-size: 3rem;
    font-weight: bold;
  }
  .tags {
    display: flex;
    flex-flow:row wrap;
    .tag {
      padding: 0.5rem 3rem 0.5rem 1rem;
      background-color: lightgray;
      border-radius: 1rem;
      margin: 0.5rem;
      position: relative;
      button {
        position: absolute;
        @include mixin-outline-button(black, black, white);
        right: 0.5rem;
        top: 0.5rem;
        bottom: 0.5rem;
        padding: 0.1rem 0.5rem;

      }
    }
  }
}

.galeria-container {
  @media(max-width:800px) {
    padding: 6rem 2rem 0 2rem;
  }
  @media(min-width:801px) {
    padding: 10rem 4rem 0 4rem;
  }
  margin: auto;
  max-width: 1600px;
}

.filtro-fixed {
  position: fixed;
  top: 4rem;
  left: 0;
  right:0;
  z-index: 10;
  height: 3rem;
  background-color: yellow;
  
}

.galeria-items-container {
  width: calc(100%-2rem);
  margin: 0 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(250px- 2rem), 1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;
  // grid-auto-flow: row;
  overflow-y: auto;
  grid-auto-rows: 300px;

  @media (max-width: 600px) {
    grid-auto-rows: 40vh;
  }


}

.item {
  background-color: gray;
  min-width: 170px;
}

</style>

