<template>
  <div id="default-layout">
    <nuxt/>
  </div>
</template>

<style lang="scss">

@import '@/assets/scss/main.scss';

html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}

body {
  min-height: 100vh;
}

#__nuxt {
  min-height: 100vh;
}

#__layout {
  min-height: 100vh;
}

#default-layout {
  min-height: 100vh;
  position: relative;
  font-family: 'Nunito', sans-serif;
  @media(min-width: 601px) {
    padding-bottom: $footer-height;
    
  }
  @media(max-width: 600px) {
    padding-bottom: $footer-height-mobile;
  }
}

</style>

