<template>
  <div class="cart cart-grid">
      <div class="item-grid-container">
        <div class="item item-grid" v-for="item in $store.getters.getCartItems" :key="item.titulo">
          <div class="imagem">
            <img src="http://placehold.it/100x100" alt="" srcset="">
          </div>
          <div class="titulo" @click="toggleItemPage(item)">
            {{item.titulo}} 
          </div>
          <div class="valor-antes">
            de <span class="valor">{{item.valor_antes}}</span>
          </div>
          <div class="valor-depois">
            por {{item.valor_depois}}
          </div>
          <div class="sexo">
            {{item.sexo}}
          </div>
          <div class="tamanho">
            tamanho
          </div>
          <div class="cor">
            cor
          </div>
          <div class="btn-excluir"><button @click="handleCartItemDelete(item)">Excluir</button></div>
        </div>
      </div>
    <div class="totals totals-grid">
      <div class="texto-sem-desconto">Total sem desconto:</div>
      <div class="valor-sem-desconto">R$ {{$store.getters.getCartItemValueSums.sum_antes}}</div>
      <div class="texto-economiza">Você economiza:</div>
      <div class="valor-desconto">R$ {{$store.getters.getCartItemValueSums.sum_diff}}</div>
      <div class="texto-total">TOTAL:</div>
      <div class="valor-total">R$ {{$store.getters.getCartItemValueSums.sum_depois}}</div>
    </div>
    <div class="finalizar">
      <div class="btn-voltar">
        <button @click="handleVoltar()">Minha galeria</button>
      </div>
      <div class="btn-finalizar">
        <button :class="{'disabled': $store.getters.getCartItems.length === 0}" :disabled="$store.getters.getCartItems.length === 0">Finalizar compra!</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      
    }
  },
  mounted () {

  },
  methods: {
    handleCartItemDelete (item) {
      this.$store.dispatch('removeFromCart', item)
    },
    handleVoltar () {
      // this.$router.go(-1)
      this.$router.push('/galeria')
    },
    async toggleItemPage(item) {
      let item_name = item.titulo //TEMP!
      let seller_code = Math.random().toString(36).replace(/[^a-z]+/g, '') //TEMP! Pegar do item que vem do servidor. 
      let store_item = await this.$store.dispatch('fetchItemFromServer', {id: item.titulo, seller_code: seller_code})
      this.$router.push(`/galeria/${seller_code}/${store_item.titulo}`)
    }
  }
}
</script>

<style lang="scss" scoped>

@import '@/assets/scss/main.scss';

.item {
  padding-bottom: 1rem;
}

.cart {
  width:100%;
  @media(min-width:901px) {
    padding: 2rem;
  }
  @media(max-width:900px) {
    padding: 1rem 0.5rem;
  }
}

// .cart {
//   border-radius: 3px 0  3px 3px;
//   border-left: 2px solid RGBA(100,100,100,0.3);
//   border-right: 2px solid RGBA(100,100,100,0.3);
//   border-top: 2px solid RGBA(100,100,100,0.3);
// }

.cart-grid {
  display: grid;
  grid-template-columns: 1fr;
  // grid-auto-rows: minmax(1fr, 60px);
  grid-auto-flow: row;
  grid-row-gap: 0.5rem; 
}

.item-grid {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;

  @media(min-width:581px) {
    grid-column-gap: 1rem;
    grid-template-columns: auto 1fr 1fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "imagem titulo titulo titulo valor-antes btn-excluir"
    "imagem sexo tamanho cor valor-depois btn-excluir";
  }
  @media(max-width:580px) {
    text-align: center;
    grid-column-gap: 0.25rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "imagem titulo titulo titulo btn-excluir"
    "imagem sexo tamanho cor btn-excluir"
    "valor-antes valor-antes valor-depois valor-depois btn-excluir"
  }
  
  .imagem {
    grid-area: imagem;
    min-width: 60px;
    min-height:60px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .titulo {
    grid-area: titulo;
    text-align: left;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .valor-antes {
    grid-area: valor-antes;
    color: red;
    .valor {
      text-decoration: line-through;
    }
  }
  .valor-depois {
    grid-area: valor-depois;
  }
  .sexo {
    grid-area: sexo;
    text-align: left;
  }
  .tamanho {
    grid-area: tamanho;
  }
  .cor {
    grid-area: cor;
  }
  .btn-excluir {
    grid-area: btn-excluir;
    text-align: center;
    button {
      @include mixin-button;
      background-color: red;
      padding: 0.4rem;

    }
  }
}

.totals {
  border-top: 2px solid gray;
  padding-top: 0.5rem;
}

.totals-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 1rem; 
  grid-row-gap: 0.25rem; 
  grid-template-areas: 
  "texto-sem-desconto valor-sem-desconto"
  "texto-economiza valor-desconto"
  "texto-total valor-total";
  justify-content: center;
  align-items: center;

  .texto-sem-desconto {
    grid-area: texto-sem-desconto;
  }
  .valor-sem-desconto {
    color: red;
    grid-area: valor-sem-desconto;
  }
  .texto-economiza {
    grid-area: texto-economiza;
  }
  .valor-desconto {
    grid-area: valor-desconto;
  }
  .texto-total {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.25rem 0;
    grid-area: texto-total;
  }
  .valor-total {
    font-size: 1.25rem;
    padding: 0.25rem 0;
    font-weight: bold;    
    grid-area: valor-total;
  }
}

.finalizar {
  border-top: 2px solid gray;
  padding-top: 0.5rem;
  text-align: center;
  button {
    width: 10rem;
  }
  .btn-voltar {
    display: inline-block;
    margin: 0 1rem;
    button {
      @include mixin-button;
    }
  }
  .btn-finalizar  {
    display: inline-block;
    margin: 0 1rem;
    button {
      @include mixin-button;
      background-color: red;
      cursor: pointer;
      &.disabled {
        background-color: lightgray;
        cursor: not-allowed;
      }
    }
  }
}

</style>
