<template>
  <div class="filtro">
    <div class="item">
      <div class="titulo">
        Ordenar resultados por:
      </div>
      <!-- <div>
        <label for="filtro_fem">Feminino</label>
        <input @change="applyFilters()" v-model="filtro_fem" type="checkbox" id="filtro_fem">
      </div>
      <div>
        <label for="filtro_masc">Masculino</label>
        <input @change="applyFilters()" v-model="filtro_masc" type="checkbox" id="filtro_masc">
      </div> -->
    </div>
    <!-- <div class="item">
      <input  v-model="tag" type="text" placeholder="Adicionar filtro">
      <button @click="$store.dispatch('addAndCalculateFilterTag', tag)"> + </button>
    </div> -->
  </div>
</template>

<script>
export default {
  data () {
    return {
      tag: '',
      filtro_fem: true,
      filtro_masc: true
    }
  },
  methods: {
    applyFilters () {
      this.$store.commit('addItemsToFilter', this.$store.getters.getItems)
      this.filterSexo()

    },
    filterSexo () {
      let items = this.$store.getters.getFilteredItems
      let filteredItems = items.filter((item) => {
        if (this.filtro_fem && item.sexo === 'feminino') return item
        if (this.filtro_masc && item.sexo === 'masculino') return item
      })
      this.$store.commit('addItemsToFilter', filteredItems)
    }
  }
}
</script>

<style lang="scss" scoped>

@import '@/assets/scss/main.scss';


</style>
