<template>
  <div class="footer-container">
    <div class="seja-primeiro">
      <div class="titulo">
        Seja o primeiro!
      </div>
      <div class="subtitulo">
        A saber da nossa promoção de lançamento oficial!
      </div>
      <div class="form-field">
        <input type="text" placeholder="email">
        <button>ok!</button>
      </div>
      <div class="social-icons">
        <div class="social">INSTA</div>
        <div class="social">FACE</div>
        <div class="social face-curtir">FACE_CURTIR</div>
      </div>
    </div>
    <div class="contato">
      <div class="titulo">Contato</div>
      <div class="items">
        <div class="item">Facebook</div>
        <div class="item">Instagram</div>
        <div class="item">Twitter</div>
        <div class="item">E-mail</div>
      </div>
    </div>
    <div class="termos-uso">
      <div class="titulo">Sobre</div>
      <div class="items">
        <div class="item">Regras e Normativas</div>
        <div class="item">FAQ</div>
        <div class="item">Imprensa</div>
        <div class="item">Seja um parceiro</div>
      </div>
    </div>
    <div class="breve">
      <div class="titulo">Em breve:</div>
      <div class="items">
        <div class="item"><img v-lazy="require('@/static/img/googleplay.png')" alt="Google Play"></div>
        <div class="item"><img v-lazy="require('@/static/img/appstore.png')"  alt="App Store"></div>
      </div>
    </div>
    <div class="instok-logo">
      <div class="top"><img v-lazy="require('@/static/img/instok-logo.png')" alt="We are Instok!"></div>
      <div class="bottom">All rights oh yeah</div>
    </div>
    <div class="endereco">
      Rua xyz...
    </div>
  </div>
</template>

<script>
  export default {

  }
</script>

<style lang="scss" scoped>

@import '@/assets/scss/main.scss';


.footer-container {
  padding: 2rem 2rem 0rem 2rem;

  position: absolute;
  bottom:0;
  left:0;
  right:0;
  background-color: black;
  // height: 400px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr auto auto;
  grid-template-areas: 
    "seja-primeiro   seja-primeiro     contato         termos-uso      breve"
    "instok-logo     instok-logo       instok-logo     instok-logo     instok-logo"
    "endereco        endereco          endereco        endereco        endereco";      

  .seja-primeiro {
    grid-area: seja-primeiro;
    color: white;
    padding: 0 0 0 1rem;
    .titulo {
      font-size: 2.5rem;
      padding: 1rem 0 0.25rem 2rem;
      text-align: left;

    }
    .subtitulo {
      padding: 0rem 0 0.25rem 2rem;
      font-size: 1rem;
    }
    .form-field {
      padding: 0.5rem 0 0.25rem 2rem;
      position: relative;
      input {
        padding: 0.85rem 1rem;
        width: 100%;
        background-color: black;
        color: white;
        border-radius: 0.5rem;
        border: 3px solid white;
      }
      button {
        position: absolute;
        top: 0.5rem;
        right: 0;
        bottom: 0.25rem;
        width: 5rem;
        @include mixin-button;
        color: black;
        font-size: 1.5rem;
        padding: 0.1rem 0 0 0;
        border-radius: 0.5rem;
        background-color: white;
        &:hover {
          background-color: lightyellow;
        }
      }
    }
    .social-icons {
      display: flex;
      flex-flow: row wrap;
      padding: 0.5rem 0 0 2rem;
      .social {
        flex: 1;
      }
      .face-curtir {
        flex: 2;
        text-align: center;
      }
    }
  }
  .contato {
    grid-area: contato;
  }
  .termos-uso {
    grid-area: termos-uso;
  }
  .breve {
    grid-area: breve;
  }
  .instok-logo {
    padding-top: 1.5rem;
    grid-area: instok-logo;
    color: white;
    text-align: center;
    .top {
      img {
        max-height: 3rem;
      }
    }
  }
  .endereco {
    padding-top: 1rem;
    color: white;
    grid-area: endereco;
    text-align: center;
    padding-bottom: 2rem;
  }
  .item {
    text-align: center;
    color: white;
    padding: 1rem 0;
    font-size: 0.85rem;
    img {
      max-height: 3.5rem;
      max-width: 10rem;
    }
  }
  .titulo {
    padding: 1rem 0;
    text-align: center;
    font-weight: bold;
    color: white;
  }
}

.nuxt-link-exact-active {
  font-weight: bold;
  position: relative;
  &:after {
    content: '';
    position:absolute;
    top: 1.2rem;
    left: 0rem;
    right: 0rem;
    background-color: red;
    height: 3px;
  }
}

a {
  text-decoration: none;
  color: black;
}


</style>
