<template>
  <div class="gallery-item" 
    @click.prevent="toggleOverlayVisible(item)" 
    :style="{backgroundImage:` url(${tempImage})`, backgroundSize: 'cover'}" 
    
    :class="{
      'chosen': item.overlayVisible && !lastCol && $route.fullPath !== '/',
      'chosen-last-col': item.overlayVisible && lastCol && $route.fullPath !== '/',
      'chosen-landing': item.overlayVisible && $route.fullPath === '/',
    }"
    ref="item"
    >
    <div>
      <div class="discount" v-if="!item.overlayVisible">
        {{item.off}} off
      </div>
      <div class="oncart" v-if="item.oncart">
        no carrinho!
      </div>
      <transition name="fade">
        <div class="overlay" v-if="item.overlayVisible">
          <div class="close"></div>
          <div class="overlay-grid-container">
            <div class="element big-discount">
              <span>
                {{item.off}} off
              </span>
            </div>
            <div class="element description">
              {{item.descr}}
            </div>
            <div class="element estoque">
              xxx itens instok
            </div>
            <div class="element details-button">
              <div class="details" @click.stop="toggleItemPage(item)">
                ver detalhes
              </div>
            </div>
            <div class="element cart-button">
              <div v-if="!item.oncart" class="cart" @click.stop="toggleAddToCart(item)">
                adicionar ao carrinho
              </div>
              <div v-if="item.oncart" class="cart" @click.stop="toggleRemoveFromCart(item)">
                remover do carrinho
              </div>
            </div>
            <div class="element title">
              {{item.titulo}}
            </div>
            <div class="element cost">
              <span class="antes">{{item.valor_antes}}</span>  
              <span class="depois">{{item.valor_depois}}</span>
            </div>

          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        tempImage: '',
        lastCol: false,
        columnMinWidth: 200,
      }
    },
    async mounted () {
      this.tempImage = (await fetch(`https://source.unsplash.com/random/${Math.floor(
        Math.random() * 1000
      )}`)).url
      
      setTimeout(() => {
        this.$forceUpdate()
      },2000)
    },
    methods: {
      toggleOverlayVisible (item) {
        let this_element = this.$refs.item
        let overlayValue = item.overlayVisible

        this.calculateColumn()

        setTimeout(() => {
          this.toggleScrollTo(this_element)
        }, 200)
        // if(!overlayValue) {
        // }        
        item.overlayVisible = !overlayValue

        this.closeAllButThis(item)
        this.$forceUpdate()
      },
      async toggleItemPage (item) {
        let item_name = item.titulo //TEMP!
        let seller_code = Math.random().toString(36).replace(/[^a-z]+/g, '') //TEMP! Pegar do item que vem do servidor. 
        let store_item = await this.$store.dispatch('fetchItemFromServer', {id: item.titulo, seller_code: seller_code})
        this.$router.push(`/galeria/${seller_code}/${store_item.titulo}`)
      },
      toggleAddToCart (item) {
        this.$store.commit('addToCart', item)
        this.$forceUpdate()
      },
      toggleRemoveFromCart (item) {
        this.$store.commit('removeFromCart', item)
        this.$forceUpdate()
      },
      toggleScrollTo(item) {

        if (this.$route.fullPath === '/') return

        function currentYPosition() {
          // Firefox, Chrome, Opera, Safari
          if (self.pageYOffset) return self.pageYOffset;
          // Internet Explorer 6 - standards mode
          if (document.documentElement && document.documentElement.scrollTop)
              return document.documentElement.scrollTop;
          // Internet Explorer 6, 7 and 8
          if (document.body.scrollTop) return document.body.scrollTop;
          return 0;
        }

        function elmYPosition(eID) {
          var elm = eID;
          var y = elm.offsetTop;
          var node = elm;
          while (node.offsetParent && node.offsetParent != document.body) {
            node = node.offsetParent;
            y += node.offsetTop;
          } return y;
        }

        function smoothScroll(eID, topGap) {
          var startY = currentYPosition();
          // startY-=topGap
          var stopY = elmYPosition(eID);
          stopY-=topGap

          var distance = stopY > startY ? stopY - startY : startY - stopY;
          if (distance < 100) {
            scrollTo(0, stopY); return;
          }
          var speed = Math.round(distance / 100);
          if (speed >= 20) speed = 20;
          var step = Math.round(distance / 25);
          var leapY = stopY > startY ? startY + step : startY - step;
          var timer = 0;
          if (stopY > startY) {
            for ( var i=startY; i<stopY; i+=step ) {
              setTimeout("window.scrollTo(0, "+leapY+")", timer * speed);
              leapY += step; if (leapY > stopY) leapY = stopY; timer++;
            } return;
          }
          for ( var i=startY; i>stopY; i-=step ) {
            setTimeout("window.scrollTo(0, "+leapY+")", timer * speed);
            leapY -= step; if (leapY < stopY) leapY = stopY; timer++;
          }
        }

        //TODO: Calcular topgap
        smoothScroll(item, 50)

      },
      calculateColumn () {
        let itemCurrentSartingWidth = this.$refs.item.getBoundingClientRect().left
        let itemCurrentWidth = this.$refs.item.getBoundingClientRect().width
        let screenWidth = window.innerWidth

        if ( 
          (Math.floor(screenWidth / itemCurrentWidth)) * itemCurrentWidth < 
          (itemCurrentSartingWidth + itemCurrentWidth) ) 
        {  
          this.lastCol = true
        } else {
          this.lastCol = false
        }
      },
      closeAllButThis (item) {
        this.$store.getters.getFilteredItems.forEach((filteredItem) => {
          if (!item || filteredItem.titulo !== item.titulo) {
            filteredItem.overlayVisible = false
          }
        })
        this.$parent.refreshGalleryItems()
      },
    },
    props: {
      item: {
        required: true
      },
      
    }
  }
</script>

<style lang="scss" scoped>

@import '@/assets/scss/main.scss';

.gallery-item {
  position: relative;
  cursor: pointer;
  border-radius: 3px;
}

.overlay {
  background-color: RGBA(33,33,33,0.8);
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  cursor: default;
  border-radius: 3px;

}

.overlay-grid-container {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display: grid;
  grid-template-rows: 3fr 2fr 1fr auto auto auto; 
  grid-template-areas: 
    "big-discount"
    "description"
    "estoque"
    "details"
    "cart"
    "title"
    "cost";

  .big-discount {
    grid-area: big-discount;
    padding: 0 1rem;
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
    display:flex;
    justify-items: center;
    justify-content: center;
    flex-flow: column wrap;
  }
  .description {
    color: white;
    font-size: 1.25rem;
    grid-area: description;
    padding: 1.5rem;
  }
  .estoque {
    grid-area: estoque;
    color: white;

  }
  .details-button {
    grid-area: details;
  }
  .cart-button {
    grid-area: cart;
  }
  .title {
    padding-top:2rem;
    grid-area: title;
  }
  .cost {
    grid-area: cost;
    padding-bottom:2rem;
  }

}

.element {
  flex: 1;
}

.discount {
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  padding:0.25rem 0.5rem;
  color:white;
  font-size:1.25rem;
  font-weight: bold;
}

.oncart {
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
}
.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 10;
  @include mixin-close-button;
}

.details-button {
  margin: 0.25rem 10% 0.25rem 10%;
  .details {
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    height: 2.5rem;
    padding-top: 0.5rem;
    margin: auto;
    cursor: pointer;
  }
}

.cart-button {
  margin: 0.25rem 10% 0.25rem 10%;
  .cart {
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    height: 2.5rem;
    padding-top: 0.5rem;
    margin: auto;
    cursor: pointer;
  }
}

.title {
  // padding-top: 70%;
  font-size: 1.75rem;
  color: white;
  flex:1;

}
.cost {
  // padding-top: 5%;
  font-size: 1rem;
  color: white;
  flex:1;
  padding-top: 0.25rem;
  .antes {
    text-decoration: line-through;
    font-weight: lighter;
    opacity: 0.8;
    padding-right: 1rem;
  }
  .depois {
    font-weight: bold;
  }
}

.fade-enter-active {
  opacity: 1;
  transition: all .3s ease .25s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
  // transition: all .1s ease;
}

.chosen {
  @media(max-width: 600px) {
    grid-column: span 1;
  }
  @media(min-width: 601px) {
    grid-column: span 2;
  }
  grid-row: span 2 ;
}

.chosen-last-col {
  @media(max-width: 600px) {
    grid-column: span 1;
    grid-row: span 2;
  }
  @media(min-width: 601px) {
    grid-column: span 2 / -1;
    grid-row: span 2;
  }
}

.chosen-landing {
  @media(max-width: 600px) {
    grid-column: 1 / 2;
    grid-row: 2;
  }
  @media(min-width: 601px) {
    grid-column: span 2 / -1;
    grid-row: span 2 / 1;
  }
}
</style>
