<template>
<div class="header" :class="{'ontop' : scrollOnTop}">
  <div v-if="screenWidth > 800" class="header-desktop">
    <div class="item logo">
      <div class="logo-container">
        <nuxt-link to="/">
          <!-- <img v-lazy="require('@/static/img/instok-logo.png')" src="" alt=""> -->
          <img src="/img/instok-logo.png">
        </nuxt-link>
      </div>
    </div>

    <!-- Área Lojista -->
      <div class="item" v-if="$store.getters.getUser.type === 'lojista'">
        <div class="text">
          <nuxt-link to="/dashboard">Dashboard</nuxt-link>
        </div>
      </div>
      <div class="item" v-if="$store.getters.getUser.type === 'lojista'">
        <div class="text">
          <nuxt-link  to="/perfil">Perfil</nuxt-link>
        </div>
      </div>
      <div class="item" v-if="$store.getters.getUser.type === 'lojista'">
        <div class="text" @click="handleSair()">Sair</div>
      </div>
    <!-- Fim área lojista -->

    <!-- Área convidado -->
      <div class="item" v-if="$store.getters.getUser.type !== 'lojista'">
        <div class="text">
          <nuxt-link to="/sobre">Sobre</nuxt-link>
        </div>
      </div>
      <div class="item" v-if="$store.getters.getUser.type !== 'lojista'">
        <div class="text">
          <nuxt-link to="/parceiros">Parceiros</nuxt-link>
        </div>
      </div>
      <div class="item" v-if="$store.getters.getUser.type !== 'lojista'">
        <div class="text">
          <nuxt-link to="/contato">Contato</nuxt-link>
        </div>
      </div>
      <div class="item" v-if="!$store.getters.getUser.email">
        <div class="text">
          <nuxt-link  to="/login">Login</nuxt-link>
        </div>
      </div>
      <!-- <div class="item" v-if="!$store.getters.getUser.email" :class="{'active': cartActive, 'hide-bottom': cartActive}"> -->
      <div class="item" v-if="!$store.getters.getUser.email">
        <div class="text" @click="handleCart()" >CART ({{$store.getters.getCartItemsCount}})</div>
      </div>
    <!-- Fim área convidado -->

    <!-- Área consumidor -->
      <div class="item" v-if="$store.getters.getUser.type === 'consumidor'">
        <div class="text">
          <nuxt-link  to="/perfil">Perfil</nuxt-link>
        </div>
      </div>
      <!-- <div class="item" v-if="$store.getters.getUser.type === 'consumidor'" :class="{'active': cartActive, 'hide-bottom': cartActive}"> -->
      <div class="item" v-if="$store.getters.getUser.type === 'consumidor'">
        <div class="text" @click="handleCart()" >CART ({{$store.getters.getCartItemsCount}})</div>
      </div>
      <div class="item" v-if="$store.getters.getUser.type === 'consumidor'">
        <div class="text" @click="handleSair()">Sair</div>
      </div>
    <!-- Fim área consumidor -->

  </div>
  <div v-if="screenWidth <= 800" class="header-mobile">
    <div class="item logo">
      <div class="logo-container">
        <nuxt-link to="/">
          <!-- <img v-lazy="require('@/static/img/instok-logo.png')" src="" alt=""> -->
          <img src="/img/instok-logo.png">
        </nuxt-link>
      </div>
    </div>

    <!-- Área Lojista -->
    <!-- Fim área Lojista -->

    <!-- Área Consumidor -->
    <!-- <div class="icon cart" v-if="$store.getters.getUser.type === 'consumidor'" :class="{'active': cartActive, 'hide-bottom': cartActive}"> -->
    <div class="icon cart" v-if="$store.getters.getUser.type === 'consumidor'">
      <div class="text" @click="handleCart()">CART ({{$store.getters.getCartItemsCount}})</div>
    </div>
    <!-- Fim área Consumidor -->
    <!-- Área Convidado -->

    <!-- <div class="icon cart" v-if="!$store.getters.getUser.email" :class="{'active': cartActive, 'hide-bottom': cartActive}"> -->
    <div class="icon cart" v-if="!$store.getters.getUser.email">
      <div class="text" @click="handleCart()">CART ({{$store.getters.getCartItemsCount}})</div>
    </div>
    
    <!-- Fim área Convidado -->

    <div class="icon sandwich" :class="{'active': dropdownActive, 'hide-bottom': dropdownActive}">
      <div class="icon" @click="handleDropdown()">MENU</div>
    </div>
  </div>
  <div class="dropdown-container">
    <div class="dropdown" v-if="screenWidth <= 800" :class="{'active': dropdownActive}">
      <!-- dropdown Lojista -->
        <div class="item" v-if="$store.getters.getUser.type === 'lojista'"><nuxt-link to="/dashboard">Dashboard</nuxt-link></div>
        <div class="item" v-if="$store.getters.getUser.type === 'lojista'">
          <nuxt-link  to="/perfil">Perfil</nuxt-link>
        </div>
        <div class="item" v-if="$store.getters.getUser.type === 'lojista'">
          <div class="text" @click="handleSair()">Sair</div>
        </div>
      <!-- Fim dropdown lojista -->
      <!-- dropdown convidado -->
        <div class="item" v-if="$store.getters.getUser.type !== 'lojista'"><nuxt-link to="/sobre">Sobre</nuxt-link></div>
        <div class="item" v-if="$store.getters.getUser.type !== 'lojista'"><nuxt-link to="/parceiros">Parceiros</nuxt-link></div>
        <div class="item" v-if="$store.getters.getUser.type !== 'lojista'"><nuxt-link to="/contato">Contato</nuxt-link></div>
        <div class="item" v-if="!$store.getters.getUser.email"><nuxt-link  to="/login">Login</nuxt-link></div>
      <!-- Fim dropdown convidado -->

      <!-- dropdown consumidor -->
        <div class="item" v-if="$store.getters.getUser.type === 'consumidor'">
          <nuxt-link  to="/perfil">Perfil</nuxt-link>
          </div>
        <div class="item" v-if="$store.getters.getUser.type === 'consumidor'">
          <div class="text" @click="handleSair()">Sair</div>
        </div>
      <!-- Fim dropdown consumidor -->

    </div>  
  </div> 
  <!-- <div class="cart-container" :class="{'cart-container-active': cartActive}"> -->
  <!-- <div class="cart-container">
    <Cart :class="{'active': cartActive }" />
  </div>  -->
</div>
</template>

<script>

import Cart from '@/components/Cart'

export default {
  data () {
    return {
      screenWidth: 0,
      dropdownActive: false,
      cartActive: false,
      scrollOnTop: true
    }
  },
  mounted () {
    this.screenWidth = window.innerWidth
    window.addEventListener('resize', this.handleResize)
    window.addEventListener('scroll', this.handleScroll)
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.handleResize)
    window.removeEventListener('scroll', this.handleScroll)
  },
  computed: {
    getRoute () {
      return this.$route.fullPath
    }
  },
  methods: {
    async wait (waitTime) {
      await new Promise((resolve) => {
        setTimeout(() => {
          resolve()
        }, waitTime)
      })
    },
    handleResize () {
      this.screenWidth = window.innerWidth
    },
    handleScroll () {
      if (window.scrollY > 0) {
        this.scrollOnTop = false
      } else {
        this.scrollOnTop = true
      }
    },
    async handleDropdown () {
      if (this.cartActive) {
        this.cartActive = false
        await this.wait(500)
      }
      this.dropdownActive = !this.dropdownActive
    },
    async handleCart () {
      // if (this.dropdownActive) {
      //   this.dropdownActive = false
      //   await this.wait(500)
      // }
      // this.cartActive = !this.cartActive
      this.$router.push({
        path: '/carrinho'
      })
    },
    handleSair () {
      this.$store.commit('unregisterUser')
      //TODO: Salvar o cart do user no server.

      this.$store.commit('clearCart')
      this.$router.push({path: '/'})
    }
  },
  components : {
    Cart
  }
}
</script>

<style lang="scss" scoped>

@import '@/assets/scss/main.scss';
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: black;
  color: white;
  padding: 0 2rem;
  @media (max-width: 480px) {
    padding: 0 1rem;
  }
  transition: all .2s ease-in-out;
}

.ontop {
  background-color: RGBA(255,255,255,0);
  color: black;
}

.header-desktop {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  // align-items: center;
  // justify-content: center;

  .item {
    flex: 1;
    text-align: center;
    justify-self: center;
    position: relative;
    border: 2px solid RGBA(100,100,100,0);
    .text {
      cursor: pointer;
      display: inline-block;
      position:absolute;
      left: 0; 
      right: 0;
      top: 0.75rem;
      bottom:0;
    }
  }
  .logo {
    text-align: left;
    padding-left: 4rem;
    flex: 4;
  }
  .cart {
    height: 100%;
    flex: 2;
    text-align: right;
    padding-right: 4rem;
    cursor: pointer;
  }
}

.header-mobile {
  padding: 2rem 2rem 0 2rem ;
  display: flex;
  flex-flow: row wrap;
  // align-items: center;
  // justify-content: center;
  .item {
    flex: 1;
    text-align: center;
    justify-self: center;
    .text {
      cursor: pointer;
      display: inline-block;
    }
  }
  .logo {
    flex: 2;
    text-align: left;

  }
  .cart {
    text-align: center;
    flex: 1;
    cursor: pointer;
    position: relative;
    .text {
      position:absolute;
      left: 0; 
      right: 0;
      top: 0.75rem;
      bottom:0;
    }
  }
  .sandwich {
    text-align: center;
    cursor: pointer;
    flex:1;
    position:relative;
    .icon {
      position:absolute;
      left: 0; 
      right: 0;
      top: 0.75rem;
      bottom:0;
    }
  }
}

.dropdown-container {

  .dropdown {
    opacity: 0;
    max-height: 0px;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    text-align: right; 
    pointer-events: none;
    padding: 0 2rem;
  }
  .active {
    opacity: 1;
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
    max-height: 1500px;    
    pointer-events: all;
  }
  .item {
    padding: 0.5rem 0;
    .text {
      cursor: pointer;
      display: inline-block;
    }
  }
}

.cart-container {

  max-height: 0px;
  transition: max-height 0.5s ease-out;

  .cart {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    text-align: right; 
    pointer-events: none;

  }
  .active {
    opacity: 1;
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
    max-height: 1500px;
    pointer-events: all;
  }
}

.cart-container-active {
  transition: max-height 0.5s ease-in;
  max-height: 5000px;
}

.logo-container {
  img {
    height: 40px;
  }
}

.nuxt-link-exact-active {
  font-weight: bold;
  position: relative;
  &:after {
    content: '';
    position:absolute;
    top: 1.2rem;
    left: 0rem;
    right: 0rem;
    background-color: red;
    height: 3px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  border-radius: 3px 3px 0 0;
  border: 2px solid RGBA(100,100,100,0.3) !important;
}

.hide-bottom {
  position:relative;
  &::after {
    position:absolute;
    content: '';
    width: 100%;
    bottom:-4px;
    height: 5px;
    background-color: white;
    display: block;
    z-index: 9999;
  }
}


</style>
