<template>
  <div class="filter-container">
    <div class="texto">
      <div class="title">O que deseja hoje?</div>
      <div class="subtitle">Apenas o que você quer. Rápido e fácil.</div>
    </div>
    <div class="texto-filtro-container">
      <div class="texto-filtro">
        <div class="filter-title">FILTRO</div>
        <div class="filter-img">
          <img src="http://placehold.it/80x80" alt="" srcset="">
        </div>
        <div class="filter-text">
          Escolha o que deseja economizar hoje e clique em "Filtrar!" - O resto deixa com a gente.
        </div>
      </div>
      <div class="texto-filtro">
        <div class="filter-title">NA MOSCA</div>
        <div class="filter-img">
          <img src="http://placehold.it/80x80" alt="" srcset="">
        </div>
        <div class="filter-text">
          Confira as peças de seu interesse, agora é só escolher.
        </div>
      </div>
      <div class="texto-filtro">
        <div class="filter-title">RETIRE</div>
        <div class="filter-img">
          <img src="http://placehold.it/80x80" alt="" srcset="">
        </div>
        <div class="filter-text">
          Retire sua compra diretamente da loja, deixamos tudo pronto e agora é só buscar.
        </div>
      </div>
      <div class="texto-fim">
        <span class="texto">
          Quanto maior o giro de estoque, menor o impacto ambiental têxtil.
        </span>
      </div>
    </div>
    <div class="filtro">
      <div class="filter-col col-infantil">
        <div class="btn infantil" @click="toggleAllItems('infantil')" :class="{'all': allChosen.infantil}">Infantil</div>
        <div class="items">
          <div class="item" v-for="(item, index) in infantil.filter_items" :key="index">
            <div class="text" @click="addItemToChosen(item, 'infantil')" :class="{'chosen-infantil' : infantil.chosen.indexOf(item) !== -1}">
              {{item}}
            </div>
          </div>
        </div>
      </div>
      <div class="filter-col  col-feminino">
        <div class="btn feminino" @click="toggleAllItems('feminino')" :class="{'all': allChosen.feminino}">Feminino</div>
        <div class="items">
          <div class="item" v-for="(item, index) in feminino.filter_items" :key="index" >
            <div class="text" @click="addItemToChosen(item, 'feminino')" :class="{'chosen-feminino' : feminino.chosen.indexOf(item) !== -1}">
              {{item}}
            </div>
          </div>
        </div>
      </div>
      <div class="filter-col col-masculino">
        <div class="btn masculino" @click="toggleAllItems('masculino')" :class="{'all': allChosen.masculino}">Masculino</div>
        <div class="items">
          <div class="item" v-for="(item, index) in masculino.filter_items" :key="index" >
            <div class="text" @click="addItemToChosen(item, 'masculino')" :class="{'chosen-masculino' : masculino.chosen.indexOf(item) !== -1}">
              {{item}}
            </div>
          </div>
        </div>
      </div>
      <div class="btn-filter">
        <button class="btn" @click="handleFiltrar()">
          {{hasFilter ?' Filtrar!' : 'Ver catálogo completo!'}}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      infantil: {
        filter_items: ['Camisa', 'Casaco', 'Camiseta', 'Calça', 'Calçado'],
        chosen: []
      },
      feminino: {
        filter_items: ['Esporte Fino','Camisa', 'Casaco', 'Camiseta', 'Calça', 'Calçado'],
        chosen: []
      },
      masculino: {
        filter_items: ['Esporte Fino', 'Camisa', 'Casaco', 'Camiseta', 'Calça', 'Calçado'],
        chosen: []
      },

    }
  },
  methods: {
    addItemToChosen (item, group) {
      if (this[group].chosen.indexOf(item) !== -1) {
        this.removeItemFromChosen(item, group)
        return
      }
      this[group].chosen.push(item)
    },
    removeItemFromChosen (item, group) {
      if (this[group].chosen.indexOf(item) === -1) return
      this[group].chosen.splice(this[group].chosen.indexOf(item), 1)
    },
    toggleAllItems (group) {
      if (this[group].chosen.length === 0 || this[group].chosen.length < this[group].filter_items.length) {
        this[group].chosen = this[group].filter_items.slice()
      } else if (this[group].chosen.length === this[group].filter_items.length) {
        this[group].chosen = []
      } 
    },
    handleFiltrar () {
      //TODO: Envia os filtros pra store, carrega a galeria
      let tag_count = 0
      this.infantil.chosen.forEach(tag => {
        this.$store.commit('addFilterTag', `${tag} Infantil`)
        tag_count++
      })
      this.feminino.chosen.forEach(tag => {
        this.$store.commit('addFilterTag', `${tag} Feminino`)
        tag_count++
      })
      this.masculino.chosen.forEach(tag => {
        this.$store.commit('addFilterTag', `${tag} Masculino`)
        tag_count++
      })

      if (tag_count === 0) {
        this.$store.commit('removeAllFilterTags')
      }

      this.$router.push({
        path: '/galeria'
      })
    }
  },
  computed: {
    hasFilter () {
      let sum_chosen_lengths = this.infantil.chosen.length + this.feminino.chosen.length + this.masculino.chosen.length 
      return sum_chosen_lengths > 0 ? 1 : 0
    },
    allChosen () {
      return {
        infantil: this.infantil.chosen.length === this.infantil.filter_items.length,
        feminino: this.feminino.chosen.length === this.feminino.filter_items.length,
        masculino: this.masculino.chosen.length === this.masculino.filter_items.length
      }
    }
  }
}
</script>

<style lang="scss" scoped>

@import '@/assets/scss/main.scss';

.filter-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 3fr;
  grid-gap: 1rem;
  grid-template-areas: 
    "texto        filtro"
    "texto-filtro filtro";

  .texto {
    grid-area: texto;
    padding: 0 0 3rem 0rem;
    .title {
      font-size: 3rem;
      font-weight: bold;
    }
    .subtitle {
      padding: 1rem 0 0 0;
    }
  }
  .texto-filtro-container {
    grid-area: texto-filtro;
    .texto-fim {
      grid-column: 1/3;
      font-weight: bold;
      font-size:0.8rem;
      padding-top: 1rem;
      .texto {
        line-height: 1.5rem;
        padding: 0.25rem;
        background-color: lightgray;
      }
    }
  }

  .texto-filtro {
    padding-bottom: 0.5rem;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-row-gap: 0.25rem;
    grid-column-gap: 1rem;
    grid-template-areas: 
      "filter-title ."
      "filter-img filter-text";
    
    .filter-title {
      grid-area: filter-title;
      text-align: center;
      font-size: 0.8rem;
      font-weight: bold;
    }
    .filter-img {
      grid-area: filter-img;
    }
    .filter-text {
      grid-area: filter-text;
      display: flex;
      align-self: center;
    }
  }
  .filtro {
    grid-area: filtro;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    grid-template-areas: 
      "col-infantil   col-feminino  col-masculino"
      "btn-filter     btn-filter    btn-filter "
      ;

    .col-infantil {
      grid-area: col-infantil;
    }
    .col-feminino {
      grid-area: col-feminino;
    }
    .col-masculino {
      grid-area: col-masculino;
    }
    .btn-filter {
      grid-area: btn-filter;
    }
    .filter-col {
      .btn {
        text-align: center;
        font-weight: bold;
      }
      .infantil {
        @include mixin-outline-button(green, black, white);
        &.all {
          background-color: green;
          color: white;
        }
        
      }
      .feminino {
        @include mixin-outline-button(blue, black, white);
        &.all {
          background-color: blue;
          color: white;
        }
      }
      .masculino {
        @include mixin-outline-button(red, black, white);
        &.all {
          background-color: red;
          color: white;
        }
      }

      .chosen-infantil {
        font-weight: bold;
        color: green;
      }
      .chosen-feminino {
        font-weight: bold;
        color: blue;
      }
      .chosen-masculino {
        font-weight: bold;
        color: red;
      }

      .items {
        padding-top: 6rem;
        margin: 0 1rem;
        border-radius: 0 0 3px 3px;
        background-color:#eeeeee;
        .item {
          text-align: center;
          // border-bottom: 2px solid white;
          padding: 1rem 0;
          position:relative;
          .text {
            cursor: pointer;
          }

          &:before {
            content: '';
            height:3px;
            background-color: white;
            position:absolute;
            top: 0;
            left: 2rem;
            right: 2rem;
          }
        }
      }
    }
    .btn-filter {
      grid-column: 1/4;
      text-align: center;
      .btn {
        @include mixin-outline-button(black, blue, white);
        width: 15rem;
      }
    }
  }

  }
</style>
