<template>
  <div class="dashboard">
    <Header />
    
    
    <Footer />
  </div>
</template>

<script>


import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'

export default {
  components: {
    Header, Footer
  }
}

</script>

<style lang="scss" scoped>

@import '@/assets/scss/main.scss';

.dashboard {
  .text-container {
    padding: 4rem 2rem 0 50%;
    .title {
      font-size: 2.5rem;
      font-weight: bold;
      padding: 1rem;
    }
    .description {
      padding: 1rem;
      font-family: 'Roboto'; //TEMP adicionado em nuxt.config.js
    }
  }
}


</style>

